@use "@scss/mixin" as *;
@use "@scss/variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $font-family;
  font-weight: 400;
  border: none;
  outline: none;
}

body {
  min-width: 320px;
  background-color: $wh;
}

button,
input {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.customBtn {
  box-shadow: 0px 10px 40px 0px #7a81be29;
  background: $btn-or;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid $btn-or;
  transition: 0.3s;
  &__span {
    transition: 0.3s;
    @include text(15px, $wh, 600);
  }
  @include hover-media {
    background: $wh;
    .customBtn__span {
      color: $btn-or;
    }
  }
  @include touch-active {
    background: $wh;
    .customBtn__span {
      color: $btn-or;
    }
  }
}
