@mixin text($size, $color, $weight: 400) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin media($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
}

@mixin hover-media {
  @media (hover: hover) {
    @content;
  }
}
@mixin touch-active {
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
